Resource_1 RCDATA "D:\\Program Files (x86)\\Embarcadero\\Studio\\23.0\\bin\\bordbk290.dll"
Resource_2 RCDATA "D:\\Program Files (x86)\\Embarcadero\\Studio\\23.0\\bin\\bordbk290N.dll"
Resource_3 RCDATA "D:\\Program Files (x86)\\Embarcadero\\Studio\\23.0\\bin\\brcide.dll"
Resource_4 RCDATA "D:\\Program Files (x86)\\Embarcadero\\Studio\\23.0\\bin\\comp32x.dll"
Resource_5 RCDATA "D:\\Program Files (x86)\\Embarcadero\\Studio\\23.0\\bin\\dcc32290.dll"
Resource_6 RCDATA "D:\\Program Files (x86)\\Embarcadero\\Studio\\23.0\\bin\\rmtdbg290.exe"
